<!DOCTYPE html>
<html>

<head>
    <title>Edit Catway</title>
</head>

<body>

    <h1>Modifier Catway</h1>

    <form action="/catways/edit/<%= catway._id %>" method="POST">

        <input name="catwayNumber" value="<%= catway.catwayNumber %>"><br><br>
        <input name="type" value="<%= catway.type %>"><br><br>
        <input name="catwayState" value="<%= catway.catwayState %>"><br><br>

        <button>Modifier</button>

    </form>

</body>

</html>