<!DOCTYPE html>
<html>

<head>
    <title>Créer Catway</title>
</head>

<body>

    <h1>Créer Catway</h1>

    <form action="/catways/new" method="POST">

        <input name="catwayNumber" placeholder="Numéro"><br><br>
        <input name="type" placeholder="Type"><br><br>
        <input name="catwayState" placeholder="État"><br><br>

        <button>Créer</button>

    </form>

</body>

</html>