<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Créer un catway</title>
</head>

<body>

    <h1>Créer un catway</h1>

    <form action="/dashboard/catways/new" method="POST">

        <label for="catwayNumber">Numéro</label><br>
        <input
            type="number"
            id="catwayNumber"
            name="catwayNumber"
            required>
        <br><br>

        <label for="catwayType">Type</label><br>

        <select
            id="catwayType"
            name="catwayType"
            required>

            <option value="">-- Sélectionner --</option>
            <option value="long">Long</option>
            <option value="short">Short</option>

        </select>

        <br><br>

        <label for="catwayState">État</label><br>

        <textarea
            id="catwayState"
            name="catwayState"
            rows="4"
            cols="40"
            required></textarea>

        <br><br>

        <button type="submit">
            Créer
        </button>

    </form>

</body>

</html>