<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <h1>🚀 Dashboard Russell</h1>

    <p>Bienvenue dans le tableau de bord</p>

    <hr>

    <ul>
        <li><a href="/users">Users API</a></li>
        <li><a href="/catways">Catways API</a></li>
    </ul>

    <hr>

  <a href="/auth/logout">Déconnexion</a>

</body>
</html>