<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>

    <h1>Connexion</h1>

    <form action="/auth/login" method="POST">

        <div>
            <label>Email</label>
            <input
                type="email"
                name="email"
                required
            >
        </div>

        <br>

        <div>
            <label>Mot de passe</label>
            <input
                type="password"
                name="password"
                required
            >
        </div>

        <br>

        <button type="submit">
            Se connecter
        </button>

    </form>

</body>
</html>