<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>

<body>

    <h1>Gestion des Catways</h1>

    <p>
        Bienvenue sur l'application de gestion des catways.
        Vous pouvez gérer les utilisateurs, catways et réservations.
    </p>

    <hr>

    <h2>Connexion</h2>

    <!-- IMPORTANT : route backend -->
    <form action="/auth/login" method="POST">

        <div>
            <label>Email :</label><br>
            <input type="email" name="email" required>
        </div>

        <br>

        <div>
            <label>Mot de passe :</label><br>
            <input type="password" name="password" required>
        </div>

        <br>

        <button type="submit">
            Se connecter
        </button>

    </form>

    <hr>

    <p>
        <a href="/api-docs">
            Documentation de l'API
        </a>
    </p>

</body>

</html>